/* Give your page a fun background color */
html {
  text-align: center;
  background-color: #757be3;
}

/* Make the header and footer a different color from the background */
/* Align the h1 containing your name in the center of the header*/
h1 {
  background-color: #E97acb;
  padding: 50px 50px
}


/* Make your p tag a different color and italic */
p {
  font-style: italic;
  color: white;
  background-color: #E97acb;
  padding: 15px 15px
}

/* Change the font-family of your list */
ul {
  list-style: none;
  font-family: "courier new", monospace;
}
/* Put a border around your image */
img {
  border: 1px solid;
  border-radius: 4px;
  padding: 5px;
  width: 20%;
};
